.version.index /* version checker */
{
	color: #0000E5;
	background-color: #537492;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 259px;
	min-height: 147px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	padding: 203px 60px 220px 61px;
}

#u288
{
	z-index: 2;
	width: 259px;
	background-color: transparent;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

