#u631
{
	background-color: transparent;
	position: relative;
}

#u971-4
{
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u750
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
}

#u751
{
	border-style: none;
	border-color: transparent;
	background-color: #6AC7B8;
}

#u752-4
{
	background-color: transparent;
	font-size: 18px;
	color: #000000;
	line-height: 22px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#slideshowu718
{
	position: relative;
}

#u737_clip
{
	overflow: hidden;
}

#u737,#u739,#u735
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u734,#u720
{
	position: absolute;
	background-color: transparent;
}

#u721-4,#u723-4,#u722-4
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	text-align: left;
	color: #000000;
	line-height: 20px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u719-4,#u732-4,#u731-4
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	text-align: center;
	color: #000000;
	line-height: 20px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u628,#u629
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
}

