#u284
{
	background-color: transparent;
	position: relative;
}

#u282-4
{
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u281,#u355
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
}

